<!DOCTYPE html>
<html lang="es">
    <%- include('./partial/head')%>


    <body>
    
    <%- include('./partial/header')%>  

       <section class="hero">
        <img class="hero-banner" src="images/banner.webp" alt="Banner Landscape">
    </section>
    <h1 id="checkout">Checkout</h1>
    <section class="tabla">
        <table class="checkout">
            <tr>
                <th>Producto</th>
                <th>Precio</th>
                <th>Cantidad</th>
                <th class="subtotal">Subtotal</th>
         </tr>
         <td><img src="/images/conectividad.png" alt="imagen de producto"><br>Nombre de producto</td>
         <td>Precio de producto</td>
         <td><input type="number" id="cantidad" min="1" max="5"placeholder="#" ></input></td>
         <td class="subtotal">Subtotal</td>
        </table>
    </section>
    <section class="checkout">
    <div class="bill-container">
        <div>
            <h3>cupon</h3>
            <input id="cupon" placeholder="Ingresa cupon"><button class="button">Aplicar</button></input>
        </div>
        <div>
            <h3>Subtotal</h3>
            <h3>Impuestos</h3>
            <h3 class="total">Total</h3>
            <button class="button">Comprar</button>
        </div>
    </div> 
   </section>
   
   <%- include('./partial/footer')%> 

</body>
</html>

