<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/css/styles.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css2?family=Prompt:ital,wght@1,200&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Prompt:wght@200&display=swap" rel="stylesheet">
    <title>Checkout codigo gamer</title>
</head>
<body>
    <div class="box-container">
        <div>
            <h3>Producto</h3>
            <img src="/images/not-found-image.jpeg" alt="imagen de producto" width="35px"height="35px">
            <p>Nombre de producto</p>
        </div>
        <div>
            <h3>Precio</h3>
            <p>Precio de producto</p>
        </div>
        <div>
            <h3>Cantidad</h3>
            <input type="number" id="cantidad" min="1" max="5"placeholder="#" ></input>
        </div>
        <div>
            <h3>Subtotal</h3>
            <p>Subtotal</p>
        </div>

    </div>
    <div class="bill-container">
        <div>
            <h3>cupon</h3>
            <input id="cupon" placeholder="Ingresa cupon"><button type="button">Aplicar</button></input>
        </div>
        <div>
            <h3>Subtotal</h3>
            <h3>Impuestos</h3>
            <h3 class="total">Total</h3>
            <button>Comprar</button>
        </div>
    </div> 
</body>
</html>
