<!DOCTYPE html>
<html lang="en">

    <%- include('./partial/head')%>


<body>

    <%- include('./partial/header')%>


    <section class="checkout-process">
        <div class="checkout-process_container">
            <div class="checkout-container_shipping-adress">
                <div class="checkout-container_progress">
                    <div class="checkout-container_progress-desable">
                        <a href="/cart"><i class="fas fa-shopping-cart"></i>
                            <p>Carrito</p>
                        </a>
                    </div>
                    
                    <div class="checkout-container_progress-desable">
                        <a href="/checkout-shipping">
                            <i class="fas fa-shipping-fast"></i>
                            <p>Envio</p>
                        </a>    
                    </div>
                    
                    <div class="checkout-container_progress-desable">
                        <a href="checkout-data"><i class="fas fa-user-circle"></i>
                            <p>Comprador</p>
                        </a>
                    </div>                 <div class="checkout-container_progress-enable">
                        <a href=""><i class="fas fa-map-marker-alt"></i>
                            <p>Dirección</p>
                        </a>
                    </div>
                    <div class="checkout-container_progress-desable">
                        <a href="/checkout-payment"><i class="fas fa-hand-holding-usd"></i>
                            <p>Pago</p>
                        </a>
                    </div>
                    <div class="checkout-container_progress-desable">
                        <a href="/checkout-confirm"><i class="fas fa-check-circle"></i>
                            <p>Confirmá</p>
                        </a>
                    </div>
                </div>
                <div class="checkout-container_adress">
                    
                    <div class="checkout-container_data-controllers">
                        <h1>Ingresá la Dirección donde queres que enviemos tu pedido</h1>
                        <input class="controlador" type="text" name="nombre" id="nombre" placeholder="Nombre">
                        <input class="controlador" type="text" name="apellido" id="apellido" placeholder="Apellido">                       
                        <input class="controlador" type="text" name="provincia" id="prov" placeholder="Provincia">
                        <input class="controlador" type="text" name="ciudad" id="ciudad" placeholder="Localidad">                        
                        <input class="controlador" type="text" name="direction" id="direction" placeholder="Dirección">
                        <input class="controlador" type="text" name="codPost" id="cod-post" placeholder="Código Postal">
                        <input class="controlador" type="email" name="email" id="email1"
                            placeholder="Correo Electrónico // mail@codigogamer.com">
                        <input class="controlador" type="tel" name="tel" id="tel"
                            placeholder="Teléfono - Cod.Area + Numero">
                    </div>
                    <div id="checkout-buttons">
                        <a href="/checkout-data"><button id="button-next" class='button' type='button'>Anterior</button></a>
                        <a href="/checkout-payment"><button id="button-prev" class='button' type='button'>Siguiente</button></a>
                    </div>                </div>

            </div>


        </div>
    </section>

    <%- include('./partial/footer')%>


</body>

</html>