<!DOCTYPE html>
<html lang="en">

    <head>

        <%- include('./partial/head')%>
    
    <body>
    
        <%- include('./partial/header')%>
    

    <section class="checkout-process">
        <div class="checkout-process_container">
            <div class="checkout-container_shipping-data">
                <div class="checkout-container_progress">
                    <div class="checkout-container_progress-desable">
                        <a href="/cart"><i class="fas fa-shopping-cart"></i>
                            <p>Carrito</p>
                        </a>
                    </div>
                    <div class="checkout-container_progress-desable">
                        <a href="/checkout-shipping"><i class="fas fa-shipping-fast"></i>
                            <p>Envio</p>
                        </a>
                    </div>
                    <div class="checkout-container_progress-enable">
                        <a href="/checkout-data"><i class="fas fa-user-circle"></i>
                            <p>Comprador</p>
                        </a>
                    </div>
                    <div class="checkout-container_progress-desable">
                        <a href="/checkout-adress"><i class="fas fa-map-marker-alt"></i>
                            <p>Dirección</p>
                        </a>
                    </div>
                    <div class="checkout-container_progress-desable">
                        <a href="/checkout-payment"><i class="fas fa-hand-holding-usd"></i>
                            <p>Pago</p>
                        </a>
                    </div>
                    <div class="checkout-container_progress-desable">
                        <a href="checkout-confirm"><i class="fas fa-check-circle"></i>
                            <p>Confirmá</p>
                        </a>
                    </div>
                </div>
                <div class="checkout-container_data">
                    
                    <div class="checkout-container_data-controllers">
                        <h1>Ingresá los datos para realizar tu factura</h1>
                        <input class="controlador" type="text" name="nombre-completo_razon-social" id="nombre-completo_razon-social" placeholder="Nombre Completo / Razón Social">
                        <input class="controlador" type="text" name="dni-cuit-cuil" id="dni-cuit-cuil" placeholder="DNI/CUIL/CUIT">
                        <input class="controlador" type="text" name="provincia" id="prov" placeholder="Provincia">
                        <input class="controlador" type="text" name="localidad" id="loc" placeholder="Localidad">
                        <input class="controlador" type="text" name="direction" id="direction" placeholder="Dirección">
                        <input class="controlador" type="text" name="codPost" id="prov" placeholder="Código Postal">
                        <input class="controlador" type="email" name="email" id="email1"
                            placeholder="Correo Electrónico // mail@codigogamer.com">
                        <input class="controlador" type="tel" name="tel" id="tel"
                            placeholder="Teléfono - Cod.Area + Numero">
                        <select name="fact" id="fact" class="controlador-selected">
                            <option disabled selected>Tipo de Factura</option>
                            <option value="fact-a" class="fact-option">A</option>
                            <option value="fact-b" class="fact-option">B</option>
                        </select>
                        <select name="emision" id="emision" class="controlador-selected">
                            <option disabled selected="Emision">Emisión</option>
                            <option value="consumidor-final" class="emision-option">Consumidor Final</option>
                            <option value="monotributo" class="emision-option">Monotributo</option>
                            <option value="responsable-inscripto" class="emision-option">Responsable Inscripto</option>
                            <option value="excento" class="emision-option">Excento</option>
                        </select>
                    </div>
                    <div id="checkout-buttons">
                        <a href="/checkout-shipping">
                            <button id="button-prev" class='button' type='button'>
                                    Anterior
                            </button>
                            </a>                       
                        <a href="/checkout-adress">
                        <button id="button-next" class='button' type='button'>
                                Siguiente
                        </button>
                        </a>
                    </div>

            </div>


        </div>
    </section>

    <footer>

        <section class="foot">

            <div class="foot-container">

                <div class="foot-container_item-nobk">
                    <div class="logo-foot">
                        <img src="images/codigo-gamer-logo-blanco.png">
                    </div>
                </div>

                <div class="foot-container_item">
                    <div class="foot-nav_section">
                        <div>
                            <ul>
                                <li><a href="#"> HOME </a></li>
                                <li><a href="#"> TIENDA </a></li>
                                <li><a href="#"> OFERTAS </a></li>
                                <li><a href="#"> CONTACTO </a></li>
                            </ul>
                        </div>
                    </div>
                </div>

                <div class="foot-container_item">
                    <div class="foot-nav_section">
                        <div>
                            <ul>
                                <li><a href="#"> HOME </a></li>
                                <li><a href="#"> TIENDA </a></li>
                                <li><a href="#"> OFERTAS </a></li>
                                <li><a href="#"> CONTACTO </a></li>
                            </ul>
                        </div>
                    </div>
                </div>

                <div class="foot-container_item">
                    <div class="foot-nav_section">
                        <div>
                            <ul>
                                <li><a href="#"> HOME </a></li>
                                <li><a href="#"> TIENDA </a></li>
                                <li><a href="#"> OFERTAS </a></li>
                                <li><a href="#"> CONTACTO </a></li>
                            </ul>
                        </div>
                    </div>
                </div>

            </div>

        </section>

    </footer>



    <section class="socket">

        <div class="socket-container">
            <div class="socket-container-text">
                © Código Gamer 2022 | todos los derechos reservados.
            </div>

            <div class="socket-container-social">
                <ul>
                    <li><a href="#"><i class="fab fa-facebook"></i></a></li>
                    <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                    <li><a href="#"><i class="fab fa-instagram"></i></a></li>
                </ul>
            </div>
        </div>

    </section>


</body>

</html>