<!DOCTYPE html>
<html lang="en">

    <%- include('./partial/head')%>


    <body>
    
    <%- include('./partial/header')%>  


    <form class="formulario">
        <h4><b>¡Dejános tu mensaje!</b></h4>
        <input class="controlador" type="text" name="nombre" id="nombre" placeholder="Nombre">
        <input class="controlador" type="text" name="apellido" id="apellido" placeholder="Apellido">
        <input class="controlador" type="email" name="email" id="email1" placeholder="Correo Electrónico // mail@codigogamer.com">
        <input class="controlador" type="tel" name="tel" id="tel" placeholder="Teléfono - Cod.Area + Numero">
        <textarea class="controlador" id="comentario" placeholder="Dejános tu mensaje y alguien del equipo de Codigo Gamer se contactará con vos..."></textarea>
        <input class="button" type="submit" value="Enviar">
    </form>


  
 
    <%- include('./partial/footer')%> 


</body>
</html>