<!DOCTYPE html>
<html lang="en">
    <link rel="shortcut icon" class="w-img" type="image/jpeg" href="/images/favicon_codigogamer.ico">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css2?family=Prompt:ital,wght@1,200&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Prompt:wght@200&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap" rel="stylesheet">
    <link href="/css/dashboard.css" rel="stylesheet">

<body>
    <header>
        <div class="dashboard_top-header">
          <div class="logo">
              <img src="/images/codigo-gamer-logo.jpeg.png" />
          </div>
          <p class="dashboard-herader-title">Codigo Gamer - Dashboard</p>
        </div>
    </header>

<main class="dashboard-main-section">

<section class="dashboard-main-cards_container">
<div class="dashboard-cards_container-cards">
            <article class="card_item">
                <div>
                    <i class="fas fa-shopping-bag"></i>
                    <h6>TOTAL DE PRODUCTOS</h6>
                </div>
                
                <p class="prodTot">200</p>
                 
            </article>
            <article class="card_item">
                <div>
                    <i class="fas fa-tag"></i>
                    <h6>TOTAL DE CATEGORIAS</h6>
                </div>
                
                <p class="catgTot">15</p>
                 
            </article>
            <article class="card_item">
                <div>
                    <i class="fas fa-users" id="usersIon"></i>
                    <h6>TOTAL DE USUARIOS</h6>
                </div>
                
                <p class="userTot">25</p>
                 
            </article>
</div>
</section>
<section class="dashboard-main-prod_container">
    <div class="dashboard-prod_container-cards">
        <article class="card_item" id="catgMainCont">
            <p class="catgTitleCont">Productos por Categorias</p>
                    <article class="card_item"  id="catg_prodCont">
                        <div id="CatgNameRow">
                            <i class="fas fa-tag"></i>
                            <h6>NOMBRE DE LA CATEGORIA</h6>
                        </div>
                        <p id="prodByCatg">10 PRODUCTOS EN LA CATEGORIA</p>
                         
                    </article>
                    <article class="card_item"  id="catg_prodCont">
                        <div id="CatgNameRow">
                            <i class="fas fa-tag"></i>
                            <h6>NOMBRE DE LA CATEGORIA</h6>
                        </div>
                        <p id="prodByCatg">10 PRODUCTOS EN LA CATEGORIA</p>
                         
                    </article><article class="card_item"  id="catg_prodCont">
                        <div id="CatgNameRow">
                            <i class="fas fa-tag"></i>
                            <h6>NOMBRE DE LA CATEGORIA</h6>
                        </div>
                        <p id="prodByCatg">10 PRODUCTOS EN LA CATEGORIA</p>
                         
                    </article><article class="card_item"  id="catg_prodCont">
                        <div id="CatgNameRow">
                            <i class="fas fa-tag"></i>
                            <h6>NOMBRE DE LA CATEGORIA</h6>
                        </div>
                        <p id="prodByCatg">10 PRODUCTOS EN LA CATEGORIA</p>
                         
                    </article><article class="card_item"  id="catg_prodCont">
                        <div id="CatgNameRow">
                            <i class="fas fa-tag"></i>
                            <h6>NOMBRE DE LA CATEGORIA</h6>
                        </div>
                        <p id="prodByCatg">10 PRODUCTOS EN LA CATEGORIA</p>
                         
                    </article><article class="card_item"  id="catg_prodCont">
                        <div id="CatgNameRow">
                            <i class="fas fa-tag"></i>
                            <h6>NOMBRE DE LA CATEGORIA</h6>
                        </div>
                        <p id="prodByCatg">10 PRODUCTOS EN LA CATEGORIA</p>
                         
                    </article><article class="card_item"  id="catg_prodCont">
                        <div id="CatgNameRow">
                            <i class="fas fa-tag"></i>
                            <h6>NOMBRE DE LA CATEGORIA</h6>
                        </div>
                        <p id="prodByCatg">10 PRODUCTOS EN LA CATEGORIA</p>
                         
                    </article><article class="card_item"  id="catg_prodCont">
                        <div id="CatgNameRow">
                            <i class="fas fa-tag"></i>
                            <h6>NOMBRE DE LA CATEGORIA</h6>
                        </div>
                        <p id="prodByCatg">10 PRODUCTOS EN LA CATEGORIA</p>
                         
                    </article><article class="card_item"  id="catg_prodCont">
                        <div id="CatgNameRow">
                            <i class="fas fa-tag"></i>
                            <h6>NOMBRE DE LA CATEGORIA</h6>
                        </div>
                        <p id="prodByCatg">10 PRODUCTOS EN LA CATEGORIA</p>
                         
                    </article><article class="card_item"  id="catg_prodCont">
                        <div id="CatgNameRow">
                            <i class="fas fa-tag"></i>
                            <h6>NOMBRE DE LA CATEGORIA</h6>
                        </div>
                        <p id="prodByCatg">10 PRODUCTOS EN LA CATEGORIA</p>
                         
                    </article>
                    
        
        
        </article>
        <article class="card_item lastProd">
            <p class="lastProd">Ultimo producto cargado</p>
                    <p id="prodTitle">Monitor gamer curvo Gigabyte G27QC led 27" negro </p>
                    <div id="lastProdMainCont">
                        <div class="lastProdImg">
                            <img src="/images/monitores.jpeg" alt="monitor" clas="images-description_image">
                            <div id="priceCont">
                                <p id="prodPrice">Precio: $ 80.000</p> 
                            </div>
                        </div>

                        <div id="lasProdDataCont">
                            <div id="descCont">
                                <p id="ProdDescription">Este monitor de 27" 
                                    te va a resultar cómodo para estudiar, trabajar o ver una película en tus tiempos de ocio. 
                                    Asimismo, su resolución de 2560 x 1440 te permite disfrutar de momentos únicos gracias a una imagen de alta fidelidad. 
                                    Posee pantalla antirreflejo, de esta manera no verás reflejado lo que está detrás de vos y vas a evitar forzar 
                                    tu vista para enfocar el contenido.
                                </p>
                            </div>
                        </div>
                    </div>    
                     
        </article>
    </div>
    </section>
<section id="prodListCont">
    <p id="prodListTitle">Listado de Productos</p>
    <div class="cart_products-container">
        <div class="products-container_images-description_row">
            <div class="cart_row-image-container">
                <img src="/images/monitores.jpeg" alt="monitor" clas="images-description_image">
            </div>
            <div class="cart_row-description-container">
                <span class="cart_row-description-description">
                    Monitor Gamer Gigabyte LED 25" AORUS KD25F-SA 240Hz
                </span>
            </div>
        </div>
    </div>
    <div class="cart_products-container">
        <div class="products-container_images-description_row">
            <div class="cart_row-image-container">
                <img src="/images/monitores.jpeg" alt="monitor" clas="images-description_image">
            </div>
            <div class="cart_row-description-container">
                <span class="cart_row-description-description">
                    Monitor Gamer Gigabyte LED 25" AORUS KD25F-SA 240Hz
                </span>
            </div>
        </div>
    </div>
    <div class="cart_products-container">
        <div class="products-container_images-description_row">
            <div class="cart_row-image-container">
                <img src="/images/monitores.jpeg" alt="monitor" clas="images-description_image">
            </div>
            <div class="cart_row-description-container">
                <span class="cart_row-description-description">
                    Monitor Gamer Gigabyte LED 25" AORUS KD25F-SA 240Hz
                </span>
            </div>
        </div>
    </div>
    <div class="cart_products-container">
        <div class="products-container_images-description_row">
            <div class="cart_row-image-container">
                <img src="/images/monitores.jpeg" alt="monitor" clas="images-description_image">
            </div>
            <div class="cart_row-description-container">
                <span class="cart_row-description-description">
                    Monitor Gamer Gigabyte LED 25" AORUS KD25F-SA 240Hz
                </span>
            </div>
        </div>
    </div>
    <div class="cart_products-container">
        <div class="products-container_images-description_row">
            <div class="cart_row-image-container">
                <img src="/images/monitores.jpeg" alt="monitor" clas="images-description_image">
            </div>
            <div class="cart_row-description-container">
                <span class="cart_row-description-description">
                    Monitor Gamer Gigabyte LED 25" AORUS KD25F-SA 240Hz
                </span>
            </div>
        </div>
    </div>
    <div class="cart_products-container">
        <div class="products-container_images-description_row">
            <div class="cart_row-image-container">
                <img src="/images/monitores.jpeg" alt="monitor" clas="images-description_image">
            </div>
            <div class="cart_row-description-container">
                <span class="cart_row-description-description">
                    Monitor Gamer Gigabyte LED 25" AORUS KD25F-SA 240Hz
                </span>
            </div>
        </div>
    </div>
    <div class="cart_products-container">
        <div class="products-container_images-description_row">
            <div class="cart_row-image-container">
                <img src="/images/monitores.jpeg" alt="monitor" clas="images-description_image">
            </div>
            <div class="cart_row-description-container">
                <span class="cart_row-description-description">
                    Monitor Gamer Gigabyte LED 25" AORUS KD25F-SA 240Hz
                </span>
            </div>
        </div>
    </div>
    <div class="cart_products-container">
        <div class="products-container_images-description_row">
            <div class="cart_row-image-container">
                <img src="/images/monitores.jpeg" alt="monitor" clas="images-description_image">
            </div>
            <div class="cart_row-description-container">
                <span class="cart_row-description-description">
                    Monitor Gamer Gigabyte LED 25" AORUS KD25F-SA 240Hz
                </span>
            </div>
        </div>
    </div>
    <div class="cart_products-container">
        <div class="products-container_images-description_row">
            <div class="cart_row-image-container">
                <img src="/images/monitores.jpeg" alt="monitor" clas="images-description_image">
            </div>
            <div class="cart_row-description-container">
                <span class="cart_row-description-description">
                    Monitor Gamer Gigabyte LED 25" AORUS KD25F-SA 240Hz
                </span>
            </div>
        </div>
    </div>
    <div class="cart_products-container">
        <div class="products-container_images-description_row">
            <div class="cart_row-image-container">
                <img src="/images/monitores.jpeg" alt="monitor" clas="images-description_image">
            </div>
            <div class="cart_row-description-container">
                <span class="cart_row-description-description">
                    Monitor Gamer Gigabyte LED 25" AORUS KD25F-SA 240Hz
                </span>
            </div>
        </div>
    </div>
    <div class="cart_products-container">
        <div class="products-container_images-description_row">
            <div class="cart_row-image-container">
                <img src="/images/monitores.jpeg" alt="monitor" clas="images-description_image">
            </div>
            <div class="cart_row-description-container">
                <span class="cart_row-description-description">
                    Monitor Gamer Gigabyte LED 25" AORUS KD25F-SA 240Hz
                </span>
            </div>
        </div>
    </div>
    <div class="cart_products-container">
        <div class="products-container_images-description_row">
            <div class="cart_row-image-container">
                <img src="/images/monitores.jpeg" alt="monitor" clas="images-description_image">
            </div>
            <div class="cart_row-description-container">
                <span class="cart_row-description-description">
                    Monitor Gamer Gigabyte LED 25" AORUS KD25F-SA 240Hz
                </span>
            </div>
        </div>
    </div>

</section>





</main>

    <section class="socket">

        <div class="socket-container">
            <div class="socket-container-text">
                © Código Gamer 2022 | todos los derechos reservados.
            </div>
        </div>

    </section>



</body>

</html>

