<!DOCTYPE html>
<html lang="en">

    <%- include('./partial/head')%>
    <body class="inicio">
        <div class="inicio-cont">
            <h5>
                Código Gammer
            </h5>
            <h6>s t o r e</h6>
            <a class="inicio-link" href="/home">
                <h4>
                 INGRESAR   
                </h4>
            </a>
        </div> 
    </body>
</html>