<!DOCTYPE html>
<html lang="en">

<%- include('./partial/head')%>

<body>
    
<%- include('./partial/header')%>  

    <section>
        <form class="formulario">
            <h4><b>¡Hola! Para seguir, ingresá tu correo electrónico y tu contraseña</b></h4>
            <input class="controlador" type="email" name="email" id="email"
                placeholder="nombre de usuario">
            <input class="controlador" type="password" name="password" id="password" placeholder="contraseña">
            <p><label><input type="checkbox" name="rememberAccount" id="rememberAccount"> Recordar Cuenta</label></p>
            <input class="button" type="submit" value="Ingresar">
            <p class="reg"><a href="/register"> ¿No tenes cuenta? Registráte</a></p>
        </form>
    </section>
  



</body>

<%- include('./partial/footer')%> 
</html>