<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/css/styles.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css2?family=Prompt:ital,wght@1,200&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Prompt:wght@200&display=swap" rel="stylesheet">
    <title>Detalle de Producto</title>
</head>
<body>
    <p>Detalle de Producto</p>
    <section class="top-main">
      <div class="imagenes">
        <img src="/images/not-found-image.jpeg" alt="imagen del producto" width="100px" height="100px">
        <img src="/images/not-found-image.jpeg" alt="imagen del producto" width="35px" height="35px">
        <img src="/images/not-found-image.jpeg" alt="imagen del producto" width="35px" height="35px">
        <img src="/images/not-found-image.jpeg" alt="imagen del producto" width="35px" height="35px">
       </div>
       <div class="info-producto">
        <p>Titulo del producto</p>
        <p>Precio</p>
        <p>Metodos de pago</p>
        <span><i class="fas fa-heart"></i> Whish list </span> <span><i class="fab fa-facebook-square"></i> <i class="fab fa-instagram-square"></i> <i class="fab fa-twitter"></i><button class="share">Share</button></span>
       </div>
       <button>Añadir al carrito</button>
    </section>
    <section class="relacionados">
     <h3>Productos relacionados</h3>
     <div class="productos-relacionados">
        <img src="/images/not-found-image.jpeg" alt="imagen del producto" width="45px" height="45px">
        <button>Añadir al carrito</button>
        <img src="/images/not-found-image.jpeg" alt="imagen del producto" width="45px" height="45px">
        <button>Añadir al carrito</button>
        <img src="/images/not-found-image.jpeg" alt="imagen del producto" width="45px" height="45px">
        <button>Añadir al carrito</button>
     </div>

    </section>
    
</body>
</html>