<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/css/styles.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css2?family=Prompt:ital,wght@1,200&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Prompt:wght@200&display=swap" rel="stylesheet">
    <title>Detalle de Producto</title>
</head>
<body>
  <header>
    <div class="top-bar">
       <div class="nav-menu">
           <ul>
               <li><a href="/login">Login/Register <i class="fas fa-id-card"></i></a></li>
               <li><a href="#"><i class="fab fa-facebook"></i></a></li>
               <li><a href="#"><i class="fab fa-twitter"></i></a></li>
               <li><a href="#"><i class="fab fa-instagram"></i></a></li>
           </ul>
       </div>
    </div>    
       <div class="top-header">
           <div class="logo"> 
               <img src="images/codigo-gamer-logo.png"> 
           </div>
           <div class="nav-section">
                   <div>
                       <ul>
                           <li><a href="/views/index.html"> HOME </a></li>
                           <li><a href="/views/store.html"> TIENDA </a></li>
                           <li><a href="#"> OFERTAS </a></li>
                           <li><a href="#"> CONTACTO </a></li>
                           <li><a href="#"><i class="fas fa-heart"></i></a></li>
                           <li><a href="#"><i class="fas fa-search"></i></a></li>
                           <li><a href="#"><i class="fas fa-shopping-cart"></i></a></li>
                       </ul>
                   </div>
               </div>
           <div class="burger-menu">
               <i class="fa fa-bars burger"></i>
           </div>
       </div>
   </header>
   <section class="hero">
    <img class="hero-banner" src="images/banner.webp" alt="Banner Landscape">
</section>
<h2 class="product-detail">Detalles del producto</h2>
    <section class="top-main">
      <div class="imagenes">
        <div class="imagen-ppal">
        <img src="/images/parlantes.jpeg" alt="producto" class="imagen-principal">
    </div>
    <div class="miniaturas">
        <img src="/images/parlantes.jpeg" alt="producto" class="imagen-miniatura">
        <img src="/images/parlantes.jpeg" alt="producto" class="imagen-miniatura">
        <img src="/images/parlantes.jpeg" alt="producto" class="imagen-miniatura">
        </div>
       </div>
       <div class="info-producto">
        <h4>Titulo del producto<h4>
        <h4>Precio<h4>
        <h4>Metodos de pago<h4>
       <div class="botones">    
        <span><i class="fas fa-heart"></i> Whishlist </span> <span><i class="fab fa-facebook-square"></i> <i class="fab fa-instagram-square"></i> <i class="fab fa-twitter"></i><button class="button">Share</button></span>
    </div> 
    <button class="button" id="añadir">Añadir al carrito</button>
      </div> 
    </section>
    <h4 id="relacionados">Relacionados</h4>
    <section class="relacionados">
     <div class="productos-relacionados">
       <article class="item_relacionado">
        <img src="/images/gabinetes.jpeg" alt="producto" class="product_item-img">
        <div class="product_item-main_article">
          <p class="product_item-main_article-name">Item name</p>
          <button class="button">Añadir al carrito</button>
        </div>
        </article>
        <article class="item_relacionado">
          <img src="/images/mouse.jpeg" alt="producto" class="product_item-img">
          <div class="product_item-main_article">
            <p class="product_item-main_article-name">Item name</p>
            <button class="button">Añadir al carrito</button>
          </div>
        </article>
          <article class="item_relacionado">
            <img src="/images/joysticks.jpeg" alt="producto" class="product_item-img">
            <div class="product_item-main_article">
              <p class="product_item-main_article-name">Item name</p>
              <button class="button">Añadir al carrito</button>
            </div>
          </article>
          <article class="item_relacionado">
            <img src="/images/teclados.jpeg" alt="producto" class="product_item-img">
            <div class="product_item-main_article">
              <p class="product_item-main_article-name">Item name</p>
              <button class="button">Añadir al carrito</button>
            </div>
          </article>
     </div>
    </section>
    <footer>
      <section class="foot">
       <div class="foot-container">
          <div class="foot-container_item-nobk">
              <div class="logo-foot"> 
                  <img src="images/codigo-gamer-logo-blanco.png"> 
              </div>
          </div>
          <div class="foot-container_item">
              <div class="foot-nav_section" >
                  <div>
                      <ul>
                          <li><a href="/views/index.html"> HOME </a></li>
                          <li><a href="/views/store.html"> TIENDA </a></li>
                          <li><a href="#"> OFERTAS </a></li>
                          <li><a href="#"> CONTACTO </a></li>
                      </ul>
                  </div>
              </div>
          </div>
          <div class="foot-container_item">
              <div class="foot-nav_section">
                  <div>
                      <ul>
                          <li><a href="#"> HOME </a></li>
                          <li><a href="#"> TIENDA </a></li>
                          <li><a href="#"> OFERTAS </a></li>
                          <li><a href="#"> CONTACTO </a></li>
                      </ul>
                  </div>
              </div>
          </div>
          <div class="foot-container_item">
              <div class="foot-nav_section">
                  <div>
                      <ul>
                          <li><a href="#"> HOME </a></li>
                          <li><a href="#"> TIENDA </a></li>
                          <li><a href="#"> OFERTAS </a></li>
                          <li><a href="#"> CONTACTO </a></li>
                      </ul>
                  </div>
              </div>
          </div>
       </div>
         </section>
         <socket>
          <section class="socket">
             <div class="socket-container">
                 <div class="socket-container-text">
                     © Código Gamer 2022 | todos los derechos reservados.
                 </div>
                 <div class="socket-container-social">
                     <ul>
                         <li><a href="#"><i class="fab fa-facebook"></i></a></li>
                         <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                         <li><a href="#"><i class="fab fa-instagram"></i></a></li>
                     </ul>
                 </div>
                </div>
          </section>
        </socket>
  </footer>  
</body>
</html>