<!DOCTYPE html>
<html lang="en">
<%- include('./partial/head')%>

<body>
        
<%- include('./partial/header')%> 

 <section class="top-main">
    <div class="description-container">
        <div class="description-img">
            <h2 class="product-detail">Detalles del producto</h2>
            <div class="imagen-principal">
                <img class="principal"src="images/fan-coolers.jpeg" alt="imagen fan-cooler">
            </div>
            <div class="description-share">
                <div class="img-mini">
                    <img src="images/fan-coolers.jpeg" alt="imagen miniatura">
                    <img src="images/fan-coolers.jpeg" alt="imagen miniatura">
                </div>
                <div class="share-icons">
                    <i class="fab fa-twitter"></i>
                    <i class="fab fa-facebook-square"></i>
                    <i class="fab fa-instagram-square"></i>
                    <i class="fas fa-heart"></i>
                </div>
            </div>


        </div>
        <div class="info-producto">
            <div class="info-precio">
                <div class="precio">
                    <h2>$4.990</h2>
                </div>
                <div class="precio-detalles">
                    <p class="negrita">PRECIO ESPECIAL</p>
                    <P class="light-grey">EFECTIVO/TRANSFERENCIA</P>
                </div>
               
            </div>
            <h5>Precio lista: $5600</h5>
            <div class="info-cuotas">
                <div class="info-text">
                    <img src="images/logoahora12.svg" alt="logo-ahora12">
                    <p class="negrita">12 cuotas sin interés de $466,66</p>
                </div>
                <div class="info-text">
                    <div class="info-icono">
                        <i class="fas fa-check-circle"></i>
                    </div>
                    <div class="info-text">
                        <p class="negrita">STOCK DISPONIBLE</p>
                    </div>
                </div>
                <div class="info-text">
                    <div class="info-icono">
                        <i class="fas fa-shield-alt"></i>
                    </div>
                    <div class="info-text">
                        <p class="negrita">PRODUCTO CON GARANTIA</p>
                    </div>
                </div>
                <div class="info-text">
                    <div class="info-icono">
                        <i class="fas fa-truck"></i>
                    </div>
                    <div class="info-text">
                        <p class="negrita">ENVIOS A TODO EL PAIS</p>
                    </div>
                </div>
                <div class="info-text">
                    <div class="info-icono">
                        <i class="fas fa-store-alt"></i>
                    </div>
                    <div class="info-text">
                        <p class="negrita">Retiro en local</p>
                    </div>
                </div>
                <div class="compra-container">
                    <div class="añadir">
                        <button class="button">Añadir al carrito</button>
                    </div>
                    <div class="comprar-ahora">
                        <button class="button">Comprar ahora</button>
                    </div>
                </div>
            </div>


        </div>
      
    </div>


 </section>
    <h4 id="relacionados">Relacionados</h4>
    <section class="relacionados">
     <div class="productos-relacionados">
       <article class="item_relacionado">
        <img src="/images/gabinetes.jpeg" alt="producto" class="product_item-img">
        <div class="product_item-main_article">
          <p class="product_item-main_article-name">Item name</p>
          <button class="button">Añadir al carrito</button>
        </div>
        </article>
        <article class="item_relacionado">
          <img src="/images/mouse.jpeg" alt="producto" class="product_item-img">
          <div class="product_item-main_article">
            <p class="product_item-main_article-name">Item name</p>
            <button class="button">Añadir al carrito</button>
          </div>
        </article>
          <article class="item_relacionado">
            <img src="/images/joysticks.jpeg" alt="producto" class="product_item-img">
            <div class="product_item-main_article">
              <p class="product_item-main_article-name">Item name</p>
              <button class="button">Añadir al carrito</button>
            </div>
          </article>
          <article class="item_relacionado">
            <img src="/images/teclados.jpeg" alt="producto" class="product_item-img">
            <div class="product_item-main_article">
              <p class="product_item-main_article-name">Item name</p>
              <button class="button">Añadir al carrito</button>
            </div>
          </article>
     </div>
    </section>

    <%- include('./partial/footer')%> 
    
</body>
</html>