<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css2?family=Prompt:ital,wght@1,200&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Prompt:wght@200&display=swap" rel="stylesheet">
    <link href="/css/styles.css" rel="stylesheet">

    <title>Registro</title>
</head>

<body>
    <header>

        <div class="top-bar">

            <div class="nav-menu">
                <ul>
                    <li><a href="/login">Login / Register <i class="fas fa-id-card"></i></a></li>
                    <li><a href="#"><i class="fab fa-facebook"></i></a></li>
                    <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                    <li><a href="#"><i class="fab fa-instagram"></i></a></li>
                </ul>
            </div>
        </div>
        <div class="top-header">

            <div class="logo">
                <img src="images/codigo-gamer-logo.png">
            </div>

            <div class="nav-section">
                <div>
                    <ul>
                        <li><a href="/views/index.html"> HOME </a></li>
                        <li><a href="/views/store.html"> TIENDA </a></li>
                        <li><a href="#"> OFERTAS </a></li>
                        <li><a href="#"> CONTACTO </a></li>
                        <li><a href="#"><i class="fas fa-heart"></i></a></li>
                        <li><a href="#"><i class="fas fa-search"></i></a></li>
                        <li><a href="#"><i class="fas fa-shopping-cart"></i></a></li>
                    </ul>
                </div>
            </div>

            <div class="burger-menu">
                <i class="fa fa-bars burger"></i>
            </div>

        </div>
    </header>
    <section>
        <form class="formulario">
            <h4><b> Para crear tu cuenta en Código Gammer ¡Ingresá estos datos!</b></h4>
            <input class="controlador" type="text" name="nombre" id="nombre" placeholder="Nombre">
            <input class="controlador" type="text" name="apellido" id="apellido" placeholder="Apellido">
            <input class="controlador" type="text" name="dni" id="dni" placeholder="DNI">
            <input class="controlador" type="text" name="sexo" id="sexo" placeholder="Femenino/Masculino">
            <input class="controlador" type="text" name="fechaNac" id="fechaNac" placeholder="Nacimiento - dd/mm/aaaa">
            <input class="controlador" type="text" name="nacionalidad" id="nac" placeholder="Nacionalidad">
            <input class="controlador" type="text" name="provincia" id="prov" placeholder="Provincia">
            <input class="controlador" type="tel" name="tel" id="tel" placeholder="Teléfono - Cod.Area + Numero">
            <input class="controlador" type="email" name="email" id="email" placeholder="Correo Electrónico // mail@codigogammer.com">
            <input class="controlador" type="email" name="email" id="email2" placeholder="Confirmá Correo Electrónico">
            
            <p><label><input type="checkbox" name="acceptTerms" id="acceptTerms"> Acepto <a href="#">Términos y Condiciones</a>
            </label></p>
            <input class="button" type="submit" value="Registrarse">
            <p><a href="/login">¿Ya tenes cuenta? Ingresá</a></p>
        </form>
    </section>
    <footer>

        <section class="foot">

            <div class="foot-container">

                <div class="foot-container_item-nobk">
                    <div class="logo-foot">
                        <img src="images/codigo-gamer-logo-blanco.png">
                    </div>
                </div>

                <div class="foot-container_item">
                    <div class="foot-nav_section">
                        <div>
                            <ul>
                                <li><a href="/views/index.html"> HOME </a></li>
                                <li><a href="/views/store.html"> TIENDA </a></li>
                                <li><a href="#"> OFERTAS </a></li>
                                <li><a href="#"> CONTACTO </a></li>
                            </ul>
                        </div>
                    </div>
                </div>

                <div class="foot-container_item">
                    <div class="foot-nav_section">
                        <div>
                            <ul>
                                <li><a href="#"> HOME </a></li>
                                <li><a href="#"> TIENDA </a></li>
                                <li><a href="#"> OFERTAS </a></li>
                                <li><a href="#"> CONTACTO </a></li>
                            </ul>
                        </div>
                    </div>
                </div>

                <div class="foot-container_item">
                    <div class="foot-nav_section">
                        <div>
                            <ul>
                                <li><a href="#"> HOME </a></li>
                                <li><a href="#"> TIENDA </a></li>
                                <li><a href="#"> OFERTAS </a></li>
                                <li><a href="#"> CONTACTO </a></li>
                            </ul>
                        </div>
                    </div>
                </div>

            </div>

        </section>

    </footer>

    <socket>

        <section class="socket">

            <div class="socket-container">
                <div class="socket-container-text">
                    © Código Gamer 2022 | todos los derechos reservados.
                </div>

                <div class="socket-container-social">
                    <ul>
                        <li><a href="#"><i class="fab fa-facebook"></i></a></li>
                        <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                        <li><a href="#"><i class="fab fa-instagram"></i></a></li>
                    </ul>
                </div>
            </div>

        </section>

    </socket>


</body>

</html>