<!DOCTYPE html>
<html lang="en">

    <%- include('./partial/head')%>

    <body>
        
    <%- include('./partial/header')%>
    <section>
        <form class="formulario">
            <h4><b> Para crear tu cuenta en Código Gammer ¡Ingresá estos datos!</b></h4>
            <input class="controlador" type="text" name="nombre" id="nombre" placeholder="Nombre">
            <input class="controlador" type="text" name="apellido" id="apellido" placeholder="Apellido">
            <input class="controlador" type="text" name="dni" id="dni" placeholder="DNI">
            <input class="controlador" type="text" name="sexo" id="sexo" placeholder="Femenino/Masculino">
            <input class="controlador" type="text" name="fechaNac" id="fechaNac" placeholder="Nacimiento - dd/mm/aaaa">
            <input class="controlador" type="text" name="nacionalidad" id="nac" placeholder="Nacionalidad">
            <input class="controlador" type="text" name="provincia" id="prov" placeholder="Provincia">
            <input class="controlador" type="tel" name="tel" id="tel" placeholder="Teléfono - Cod.Area + Numero">
            <input class="controlador" type="email" name="email" id="email" placeholder="Correo Electrónico // mail@codigogammer.com">
            <input class="controlador" type="email" name="email2" id="email2" placeholder="Confirmá Correo Electrónico">
            <select name="user-class" id="user-class" placeholder="Tipo de Usuario" class="controlador">
                <option value="" class="catg-option" hidden selected>Tipo de usuario</option>
                <option value="adm-user" class="catg-option">Administrador</option>
                <option value="client-user" class="catg-option">Cliente</option>
            </select>
            <p><label><input type="checkbox" name="acceptTerms" id="acceptTerms"> Acepto <a href="#">Términos y Condiciones</a>
            </label></p>
            <input class="button" type="submit" value="Registrarse">
            <p><a href="/login">¿Ya tenes cuenta? Ingresá</a></p>
        </form>
    </section>
   
<%- include('./partial/footer')%> 


</body>

</html>