<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link
            href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
            rel="stylesheet"
        />
        <link
            href="https://fonts.googleapis.com/css2?family=Prompt:ital,wght@1,200&display=swap"
            rel="stylesheet"
        />
        <link
            href="https://fonts.googleapis.com/css2?family=Prompt:wght@200&display=swap"
            rel="stylesheet"
        />
        <link rel="stylesheet" href="css/styles.css" />
        <link rel="stylesheet" href="css/shipping.css" />
        <title>Shipping</title>
    </head>
    <body>
        <header>
            <div class="top-bar">
                <div class="nav-menu">
                    <ul>
                        <li>
                            <a href="/login"
                                >Login/Register <i class="fas fa-id-card"></i
                            ></a>
                        </li>
                        <li>
                            <a href="#"><i class="fab fa-facebook"></i></a>
                        </li>
                        <li>
                            <a href="#"><i class="fab fa-twitter"></i></a>
                        </li>
                        <li>
                            <a href="#"><i class="fab fa-instagram"></i></a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="top-header">
                <div class="logo">
                    <img src="images/codigo-gamer-logo.png" />
                </div>
                <div class="nav-section">
                    <div>
                        <ul>
                            <li><a href="/views/index.html"> HOME </a></li>
                            <li><a href="/views/store.html"> TIENDA </a></li>
                            <li><a href="#"> OFERTAS </a></li>
                            <li><a href="#"> CONTACTO </a></li>
                            <li>
                                <a href="#"><i class="fas fa-heart"></i></a>
                            </li>
                            <li>
                                <a href="#"><i class="fas fa-search"></i></a>
                            </li>
                            <li>
                                <a href="#"
                                    ><i class="fas fa-shopping-cart"></i
                                ></a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="burger-menu">
                    <i class="fa fa-bars burger"></i>
                </div>
            </div>
        </header>
        <main class="main">
            <div class="contenedor-form">
                <div class="form-subitem">
                    <h3>CHECKOUT | SHIPPING</h3>
                </div>
                <form action="#" class="form">
                    <div class="form-item">
                        <div class="form-subitem item-titulo">
                            <h4 class="subitem-titulo">PRODUCT</h4>
                            <h4 class="subitem-titulo">SUBTOTAL</h4>
                        </div>
                        <div class="form-subitem">
                            <p class="subitem-texto">NAME</p>
                            <p class="subitem-texto">######</p>
                        </div>
                    </div>
                    <div class="form-item">
                        <div class="form-subitem item-titulo">
                            <h4 class="subitem-titulo">SHIPPING</h4>
                        </div>
                        <div class="form-subitem">
                            <div>
                                <input
                                    type="radio"
                                    name="normal-shipping"
                                    id="normal-shipping"
                                />
                                <label
                                    for="normal-shipping"
                                    class="subitem-texto"
                                    >NORMAL</label
                                >
                            </div>
                            <p class="subitem-texto">######</p>
                        </div>
                        <div class="form-subitem">
                            <div>
                                <input
                                    type="radio"
                                    name="fast-shipping"
                                    id="fast-shipping"
                                />
                                <label for="fast-shipping" class="subitem-texto"
                                    >FAST</label
                                >
                            </div>
                            <p class="subitem-texto">######</p>
                        </div>
                        <div class="form-item border-top">
                            <div class="form-subitem">
                                <h4 class="subitem-titulo">TOTAL</h4>
                                <p class="subitem-texto">######</p>
                            </div>
                        </div>
                    </div>
                </form>
                <div class="form-subitem">
                    <button class="form-button">PREV</button>
                    <button class="form-button">NEXT</button>
                </div>
            </div>
        </main>
        <footer>
            <section class="foot">
                <div class="foot-container">
                    <div class="foot-container_item-nobk">
                        <div class="logo-foot">
                            <img src="images/codigo-gamer-logo-blanco.png" />
                        </div>
                    </div>
                    <div class="foot-container_item">
                        <div class="foot-nav_section">
                            <div>
                                <ul>
                                    <li>
                                        <a href="/views/index.html"> HOME </a>
                                    </li>
                                    <li>
                                        <a href="/views/store.html"> TIENDA </a>
                                    </li>
                                    <li><a href="#"> OFERTAS </a></li>
                                    <li><a href="#"> CONTACTO </a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="foot-container_item">
                        <div class="foot-nav_section">
                            <div>
                                <ul>
                                    <li><a href="#"> HOME </a></li>
                                    <li><a href="#"> TIENDA </a></li>
                                    <li><a href="#"> OFERTAS </a></li>
                                    <li><a href="#"> CONTACTO </a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="foot-container_item">
                        <div class="foot-nav_section">
                            <div>
                                <ul>
                                    <li><a href="#"> HOME </a></li>
                                    <li><a href="#"> TIENDA </a></li>
                                    <li><a href="#"> OFERTAS </a></li>
                                    <li><a href="#"> CONTACTO </a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </footer>
        <socket>
            <section class="socket">
                <div class="socket-container">
                    <div class="socket-container-text">
                        © Código Gamer 2022 | todos los derechos reservados.
                    </div>
                    <div class="socket-container-social">
                        <ul>
                            <li>
                                <a href="#"><i class="fab fa-facebook"></i></a>
                            </li>
                            <li>
                                <a href="#"><i class="fab fa-twitter"></i></a>
                            </li>
                            <li>
                                <a href="#"><i class="fab fa-instagram"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </section>
        </socket>
    </body>
</html>
