.main-section{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 30px 0px;
}

.main-catg_container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    color: rgb(51, 51, 51);
    font-size: 28px;
    margin: 30x 10px;
}

.main-catg_container h3{
    text-align: center;
    font-size: 28px;
    font-weight: bold;
    margin: 15px;
}

.poduct-caregorie_main-link{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
}


.catg_container-products{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: fit-content;
    gap: 1rem;
}

.catg-store_container-products{
    justify-content: center;
}


article.product_item{
    background-color: rgb(255, 255, 255);
    width:90%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    border: solid #59359c 0.5px;
    border-radius: 5px;
    position: relative;
    min-height: 385.8px;
}

.main-section .product_item-img{
    width: 95%;
    padding-left: 10px;
}

.product_item-img{
    max-height: 232px;
    max-width: 232px;
    min-height: 232px;
    min-width: 232px;
}

.product_item-main_article i{
    border-radius: 10px;
    padding: 5px;
}



.catg_container-title{
    margin: 30px 0 30px 0;
    width: 100%;
    display:block;
 
}


.main-section .product_item-main_article{
    padding: 3px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
    justify-content: center;
    position: relative;
}

.main-section .product_item-main_article-name {
    margin: 5px 5px;
    font-size: 18px;
    font-weight: bolder;
    flex: 100%;
}

.main_categories-button{
    font-size: 18px;
    font-weight: bold;
    border-radius: 8px;
    width: 40%;
}


.product_item-main_article a{
    text-decoration: none;
    color:#313131;
    font-size: 17px;
    text-align: center;
    padding: 10px;
    font-weight: 600;
}

.product_item-main_article a:hover {
    font-size: 18px;
    font-weight: bold;
}

/* ----------------------------------------------------------------------------------------Slider best sellers*/


.section-slider .product_item-main_article{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: baseline;
}

.product_item-main_article-name{
    font-size: 22px;
    font-weight:bolder;
    flex:100%;
}

.section-slider .envio {
    display: flex;
    flex-wrap: nowrap;
    width: 100%;
    min-width: 250.4px;
    background-color: #59359c;
    color: #f1f1f1;
    font-size: 14px;
    font-weight: bold;
    text-align: center;
    align-items: baseline;
}

.section-slider{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 100%;
    margin-top: 50px;
    border-top: #ab39b5 1px solid;    
}

.slider-section_container{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    padding: 1em;
}

.section_container-title{
    width: 100%;
    text-align: center;
    color: rgb(3, 3, 3);
    font-size: 28px;
    margin: 40px 10px 20px;
}

.section-slider .button-container{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    margin:0 3px;
}
.section-slider .button{
    flex: 40%;
    border-color: #59359c;
    color:#59359c;
    display: none;
    margin: 15px 2px;
    padding: 10px 0;
    font-size: 13.5px;
    font-weight: bold;
    text-align: center;
}

.section-slider .button:hover{
    color: #f1f1f1;
    background-color: #59359c;
   }

.section-slider .product_item:hover .button-container .button{
    display:block;
}

.section-slider .product_item:hover .fas.fa-truck{
    transform: translateX(70%);
}

.section-slider .product_item:hover .description{
    display:block;
}

.section-slider .fas.fa-truck{
    font-size: 14px;
    display: inline-block;
    width: 38%;
    color: #ffffff;
    text-align: left;
    transition: 1.5s;
}



/*----------------------------------------------------------------------------------*Store Section*/

.poduct-store_main-link{
    text-decoration: none;
    color: inherit;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.main-section-store{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 20px;

}

.product-create_button-container{
    display: flex;
    margin: 20px 25px;
}


.button_product-add{
    font-size: 18px;
    font-family:  'Prompt', sans-serif;
    color:#313131;
    padding: 8px 12px 8px 8px;
    border: #4f4f4f solid 1px;
    border-radius: 5px;
    transition: 0.1s;
}

.button_product-add i{
    font-size: 16px;
    margin: 0 5px;
    color: #4f4f4f;
}

.product-create_button-container:hover i{
    color: #9e1fac;
    font-weight: bold;
}

.product-create_button-container:hover .button_product-add{
    color: #9e1fac;
    font-weight: bold;
    border: #9e1fac solid 2px;
}

.catg-store_container-products{
    justify-content: center;
}


.main-store-catg_container{
    width: 100%;
    text-align: center;
    color: rgb(51, 51, 51);
    font-size: 28px;
    display: flex;
    flex-wrap: nowrap;
}   

.catg_container-title{
    margin: 0;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.main-section-store .catg-store_container-products{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;    
    justify-content: center;
    gap: 1rem;
    margin: 0px;  
}

.product_item{
    background-color: rgb(255, 255, 255);
    width:100%;
    min-width: 260px ;
    display: flex;
    flex-direction: row;
    border-radius: 10px;
    transition: linear 200ms;
}

.product_item:hover{
    border: solid #59359c 1px;
    box-shadow: 3px 3px 5px 0.5px #999999;  

}


.main-section-store .product_item-img{
    width: 90%;
    margin: auto;
    padding: 15px;
}

.fa.fa-heart{
    position: absolute;
    right: 10px;
    top: 10px;
    font-size: 30px;
    color: #c1bbc144;
    display: none;
}
.product_item:hover .fa.fa-heart{
   display: block;
   cursor: pointer;  
}

.product_item .fa.fa-heart:active{
    color: #ab39b5;
 }

.price{
    width: 50%;
    font-size: 26px;
    font-weight: bold;
    text-align: left;
    margin: 5px 0 0px 0;
}

.discount{
    margin: 0 5px;
    width: 45%;
    font-size: 16px;
    color: #ab39b5;
    font-weight: bold;
    text-align: right;
}

.description{
    width: 100%;
    font-size: 16px;
    text-align: left;
    margin: 0px 2px;
    display: none;
}

.product_item-main_article-name{
    font-size: 22px;
    font-weight:bolder;
    flex:100%;
}


.main-section-store .product_item-main_article{
    width: 100%;
    margin: 0px 4px;
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
}

.main-store-catg_container .button-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    margin: 0 2px;
}
.store_cart-link{
    width: 50%;
    text-decoration: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.store_cart-link .button{
    flex: 100%;
    border-color: #59359c;
    color:#59359c;
    display: none;
    margin-bottom: 5px;
    padding: 10px 0;
    font-weight: bold;
    text-align: center;
    background-color: white; 
    border-radius: 5px;
    border: 2px solid #59359c;
    font-size: 14px;
    transition-duration: 0.3s;
    cursor: pointer;
}

.main-section-store .button:hover{
    color: #f1f1f1;
    background-color: #59359c;
   }




.main-section-store .product_item:hover .button-container .button{
    display:block;
}


.main-section-store .product_item:hover .fas.fa-truck{
    transform: translateX(70%);
}

.main-section-store .product_item:hover .description{
    display:block;
}

.fas.fa-truck{
    font-size: 14px;
    display: inline-block;
    width: 38%;
    color: white;
    text-align: left;
    transition: 1.5s;
}

.envio{
    display: flex;
    flex-wrap: nowrap;
    width: 100%;
    background-color: #59359c;
    border-radius: 2px;
    color: white;
    font-size: 16px;
    font-weight: bolder;
    text-align: center;
    align-items: baseline;
    min-height: 24.6px;
}

.main-section-store .product_item-main_article-name{
    font-size: 20px;
    font-weight:bolder;
    flex:100%;
    line-height: 24px;
    margin-bottom: 5px;
    min-height: 80px;
}

article.product_item .store_product-edit-button{
    border-radius: 50%;
    color:#b9b0b0;
    border: 1px solid #b9b0b0;
    background-color: white;
    position:absolute;
    top: 8px;
    left: 8px;
}

.fas.fa-pencil-alt{
    padding: 8px;
    color:#b9b0b0;
    font-size: 16px;
}

article.product_item .store_product-edit-button:hover{
    border:solid 2px #9e1fac;
    background-color: white;
}

.store_product-edit-button:hover .fas.fa-pencil-alt{
    color:#9e1fac;
}


  /* Sidebar Section*/

/* The side navigation menu */
.sidebar {
    margin: 0px 35px 0 25px;
    min-width: 180px;
    width: 16%;
    background-color: #f1f1f1;
    position: realive;
    border-radius: 10px;
    font-size: 14px;
    text-align: left;
    border: solid 1px rgb(146, 145, 145);

}
.sidebar-list{
    display: inline-block;
}

.sidebar-title{
    width: 100%;
    text-align: left;
    color:#313131 ;
    margin: 10px 0 5px 10px ;
    font-size: 24px;
}   

.sidebar ul {
    margin: 5px;
    padding: 2px 0 2px 0;
    list-style:none;   
  }

  
  /* Sidebar links */
.sidebar a {
    margin: 0 auto ;
    color: #59359c;
    padding: 0 0 0 30px;
    text-decoration: none;
    font-size: 18px;

}

.sidebar a:hover{
    color: #9e1fac;
    font-weight: bolder;
}

/* display components on mobile */
.top-bar{
   display: none;
}

.top-header .nav-section{
    display: none;
}

.sidebar {
    display: none;
}




/*tablet*/

@media ( min-width: 375px ) and ( max-width: 768px ) {

    .product_item { 
        width:40%;
    }   

    article.product_item{ 
        width:15%;
       }
    
    .nav-section{
       display: none;
    }

    .main-section-store .sidebar {
        display: none;
    }  
    section.top-main{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    section.top-main div.imagenes{
        flex: 22%;
        height: 275px;
        width: 300px;
        margin: 10px;
        position: relative;
        right: 90px;
        
    }
    section.relacionados div.productos-relacionados{
        text-align: center;
    }
   
    section.top-main div.info-producto #a単adir{
    display: block;
    }

    section.checkout div.bill-container{
    flex-direction: column;
    align-items: center;    
    }

    section.relacionados div.productos-relacionados{
        text-align: center;
        justify-content: center;
    }

    section.top-main div.info-producto h4{
        margin: 11px;
    display: flex;
    flex-direction: column;
    }

    section.top-main div.info-producto div.botones{
        display: block;
        min-height: 100px;
    }

    section.top-main div.info-producto .botones #a単adir{
    position: initial;
    }

}

/*desktop*/

@media screen and (min-width:769px) {

    .product_item{ 
        width:22%;
     }

    .main-store-catg_container .catg-store_container-products{
        gap:40px;
    }

    article.product_item{ 
     width:20%;
   
    }

    .top-header .nav-section{
        display: block;
    }

    .top-bar{
        display: inline-block;
    }

   
    .burger-menu{
        display:none
    }

    .main-section .sidebar{
        display:block;
        width: 20%;
        margin: 0 20px 10px;

    }

    .catg-store_container-products{
        width: 100%;
    }

    .main-store-catg_container .sidebar {
        display: flex;
        flex-wrap: wrap;
    }
    section.top-main div.info-producto #a単adir{
        position: relative;
    top: 82px;
    right: 240px;
    max-height: 35px;
    }
    section.relacionados div.productos-relacionados{
        display: flex;
        flex-wrap: wrap;
        text-align: center;
    }
   
    .sidebar{
        display: flex
    }

    
    .catg_container-products_container{
        width: 100%;
        margin: 0 10px;
    }

    .catg-store_container-products{
        width: 100%;
    }

    .main-store-catg_container .sidebar {
        display: flex;
        flex-wrap: wrap;
        border-radius: 5px;
    }
    section.top-main div.miniaturas{
        position: relative;
        left: 110px;
    }

    section.top-main div.info-producto .botones #a単adir{
        position: initial;
        top: 82px;
        right: 240px;
        max-height: 35px;
    }
    section.relacionados div.productos-relacionados{
        display: flex;
        flex-wrap: wrap;
        text-align: center;
        justify-content: center;
    }

}

