/*  carga de prod ----------------------------------------------------------------------------------------*/

.section-product-form{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 90%;
}

.categoryEdit{
    border: solid 2px #59359c;
    background-color: #ffffff;
    box-shadow: 0 0 5px rgb(100 100 100);
    border-radius: 5px;
    margin: 50px 0;
}


form h2{
    text-align: center;
    margin: 20px 30px 20px;
    padding: 8px;
    font-size: 18px;
    border-radius: 5px;
}

.name-images-container{
    width: 100%;
}
label{
    font-size: 13px;
    margin: 0;
    padding: 0;
}

.product-form{
    border: solid 2px #59359c;
    background-color: #ffffff;
    box-shadow: 0 0 5px rgb(100,100,100);
    border-radius: 5px;
    margin: 50px 0;;
}

.categoryEditForm{
    border: none;
    background-color: none;
    box-shadow: none;
    border-radius: none;
    margin: 0;
}

.product-controller{
    width: 100%;
    padding: 8px;
    border-radius: 5px;
    border : 1px solid #adabb0;
    font-size: 12px;
    font-family:  'Prompt', sans-serif;
}
.product-controller::placeholder{
    color :#949494;
    font-family:  'Prompt', sans-serif;
}

.section-product-form input,
.section-product-form textarea,
.section-product-form select{
    color: #313131;
    font-weight: bolder;
    font-size: 14px;
}

.section-product-form textarea::-webkit-scrollbar-track{
    background: #efeded;
    border-radius: 5px;
}

.section-product-form textarea::-webkit-scrollbar-thumb{
    background:#9839b5;
}

.product-controller:focus-visible{
    outline: none;
    border : 3px solid #59359c;
    font-family:  'Prompt', sans-serif;
}


.product-form{
    width: 90%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    }

.images-container{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}



.form-product-img{
    width: 16%;
    margin: 5px;
    padding: 5px;
    background-color: #ffffff;
    border: solid 0.5px #59359c;
    border-radius: 5px;
}

.img-button-container{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    border-bottom: #59359c solid 1px;
    padding-bottom: 10px;
}

.img_loader-box{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
}

input[type="file"]{
    padding: 4px;
    color: #949494;
    font-weight: 300;
}

input[type="file"]::-webkit-file-upload-button{
    background-color: white; 
    border-radius: 5px;
    border: 1px solid #313131;
    color:#313131;
    display: inline-block;
    font-size: 14px;
    padding: 5px 5px;
    text-align: center;
    text-decoration: none;
    transition-duration: 0.1s;
    cursor: pointer;
    margin:2px
}

input[type="file"]::-webkit-file-upload-button:hover{
    border: solid 2px #9839b5;
    color: #9839b5;
}

.upload-img-button{
    padding: 10px 0 10px 10px;
    color: rgb(168, 164, 164);
    }

.product-form span{
    color:black;
    width: 100%;
    text-align: center;
    padding: 10px;
    font-size: 14px;
    font-weight: bold;
}

.catg-container{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    width:100%;
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
    border-bottom: solid 1px #59359c;
}

.catg-container_catg{
    width: 100%;
    padding: 10px;
}

.catg-container_subcatg{
    width: 100%;
    padding: 10px;
}

.product_name-container,
.product-form-images{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    border-top: solid 1px #59359c;
}

.product_name-container_input{
    width: 100%;
    padding: 10px;
}

.product-description{
    width:100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    border-bottom: solid 1px #59359c;
    padding: 10px;
    }

.product-controller#product-description_description{
    width: 95%;
    max-width: 98%;
    min-height: 100px;
    padding: 10px ;
    margin: 0;
    font-family:  'Prompt', sans-serif;
}

.price-stock_container,
.shipping-discount_container{
    width:100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    border-bottom: solid 1px #59359c;
    padding: 10px;
}

.product-shipping_container{
    border-bottom: solid 1px #59359c;

}

.product-shipping_container, .product-discount_container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 10px;
}

.product_price-container_input{
    width: 100%;

}
.product_stock-container_input{
    width: 100%;
}

.product-price,
.product-stock{
    width:100%;
    display: flex;
    flex-wrap: wrap;
    padding: 10px 10px 20px;
}

.product-stock{
    border-bottom: solid 1px #59359c;

}

.product-shipping_container,
.product-discount_container{
    width:100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 10px;
}

.free-shipping-container,
.discount-container{
    margin: 0 20px;
    padding: 5px;
}


.discount-countainer{
    width: 100%;
    margin: 0 20px;
    padding: 5px;
    display: flex;
    flex-wrap: wrap;
}


#discount-per{
    width: 25%;
    padding: 5px;
}

.button-container-edit{
    width: 95%;
    flex-wrap: wrap;
    margin: 35px 0 20px;
    gap: 15px;
}

.button-container-edit#publish{
    margin-top: 0;
    margin-bottom: 30px;
}

.button-container-edit .button{
    width: 100%;
    padding: 10px 0;
    border-color: #59359c;
    color:#59359c;
}

.button-container-edit .button:hover{
    color: #f1f1f1;
    background-color: #59359c;
   }

.button#publish-product{
    width: 100%;
    padding: 10px 0;
    border: 2px solid #9839b5;
    color:#9839b5;
    margin: 30px 0 0 0;
}

.button#publish-product:hover {
    background-color: #9839b5;
    color: white;
    }

.category-name_cont{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-bottom: 20px;
    border-bottom: #59359c solid 1px;
}


.name-catg_cont{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.catgInputCont{
    display: flex;
    justify-content: center;
    width: 90%;
}

#category-name{
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
}

.category-list_cont{
    width:100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    border-bottom: solid 1px #59359c;
    padding: 10px;
    }

.category-list_cont ul{
    width: 100%;
}

.categoryList{
    color: #313131;
    font-size: 20px;
    font-weight: bold;
}

.categoryList li{
    list-style: none;
}

.category-images-cont{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    border-bottom: solid 1px #59359c;
    padding: 20px;
}

.catg-img-button-container{
    display: flex;
    justify-content: center;
}

.category-delete-button{
    width: 86%;
    padding: 10px 0;
    border: 2px solid rgb(167,26,26);
    color: rgb(167,26,26);
    border-radius: 5px;
    padding: 0px;
    background-color: white;
    font-size: 16px;
    margin-bottom: 15px;
    font-weight: bold;
}
.category-delete-button:hover{
background-color: rgb(167,26,26);
color: white;
}

@media screen and (min-width:769px) {

    .product_name-container,
    .product-form-images{
        width: 48%;
        border: solid 0.5px #b6b4b4;
        border-radius: 5px;
    }

    .name-images-container{
        width: 100%;
        display: flex;
        flex-wrap: nowrap;
        justify-content: space-around;
        border-bottom: solid 1px #59359c;
        padding: 10px;
    }

    .img-button-container{
        flex-wrap: nowrap;
        border-bottom: none;
    }
    
    .img_loader-box{
        display: flex;
        flex-wrap: wrap;
        width: 50%;
        padding-left: 15px;
    }

    .upload-img-button{
        padding: 10px 0 10px 10px;
        width: 100%;
        }
      
    .product-form{
        max-width: 90%;
        text-align: center;
    }

    .product-controller{
        width: 40%;
        font-family:  'Prompt', sans-serif;
    }

    .product-controller#name{
        width: 90%;
        font-family:  'Prompt', sans-serif;
    }
    
    .product-controller#product-description_description{
        width: 90%;
        font-family:  'Prompt', sans-serif;
    }

    .shipping-discount_container,
    .price-stock_container{
        justify-content: space-around;
        }
    
    .product-shipping_container,
    .product-discount_container{
        width:48%;

    }

    .product-price,
    .product-stock{
        width: 48%;
        border: solid 0.5px #b6b4b4;
        border-radius: 5px;
    }
    
    .price-stock_container{
        border:none;
    }
    #product-discount-per,
    #discount-per,
    #product-stock{
    width: 15%;
    padding: 5px;
    }

    #price{
        width: 20%;
    }


    .button-container-edit{
        flex-wrap: wrap;
        width: 100%;
        margin: 20px 0;
    }

    .button-container-edit#publish{
        flex-wrap: wrap;
        width:100%;
        margin: 0 0 30px 0;
    }
    
   .product-discount_container,
    .product-shipping_container{
        border: solid 0.5px #b6b4b4;
        border-radius: 5px;
        display: inline-block;
        text-align: center;
        
    } .button-container-edit .button{
        width: 60%;
    }   

    .button#publish-product{
        width: 40%;
    }

    .free-shipping-container,
    .discount-container{
        display: flex;
        flex-wrap: nowrap;
        justify-content: center;
    }

    .free-shipping,
    .apply-discount{
        width: 100%;
    }

    #category-name{
        width: 70%;
    }

    .category-delete-button{
        width: 36%;
        padding: 10px 0;
        border: 2px solid rgb(167,26,26);
        color: rgb(167,26,26);
        border-radius: 5px;
        padding: 0px;
        background-color: white;
        font-size: 16px;
        margin-bottom: 15px;
    }
    
   
}