section.top-main{
    display: flex;
    width: 100%; 
}
section.top-main div.description-container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: row;
    margin:auto;
}
div.description-container div.description-img{
    display: flex;
    flex-direction: column;
    border:solid 0px #666666;
    border-radius: 8px;
    background-color: white;
    margin-top: 15px;
    align-self: center;
    margin-left: 20px;
    width: auto;
    height: 500px;
}

div.description-container div.description-img h2{
    text-align: center;
    color:#59359c;

}
div.imagen-principal{
    align-self: center;
}
div.description-container .imagen-principal img{
    min-height: 415px;
    min-width: 350px;
}
div.description-container .description-share{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
div.description-container div.description-share .img-mini img{
    width: 40px;
}

div.description-img div.share-icons{
    align-self: center;
    color:#59359c;
    font-size: 1.5rem;
}

div.info-producto{
    background-color: #FFF;
    display: flex;
    flex-direction: column;
    margin-top: 15px;
    border-radius: 8px;
    margin-left: 20px;
    align-self: center;
    width: auto;
    height: 500px;
}
div.info-producto div.info-precio{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top:10px;
}
div.info-producto div.info-precio h2{
    font-size: 35px;
}
div.info-producto div.info-precio .precio-detalles{
 text-align: center;
 margin-left: 10px;
 font-weight: bolder;
}

div.info-producto h5{
    text-align: center;
    font-weight: bolder;
    border-bottom: whitesmoke 2px solid;
}
div.info-producto div.info-cuotas{
    display: flex;
    flex-direction: column;
}
div.info-producto div.info-cuotas img{
    width: 1.5rem;
    margin-left: 20px;
}
div.info-producto div.info-cuotas div.info-text{
display:flex;
margin: auto;
height: 70px;
align-items: center;
}
div.info-producto div.info-icono{
    align-self: center;
}
div.info-producto div.info-cuotas div.info-text i{
    margin-left: 20px;
    color: #59359c;
}
div.info-producto div.info-cuotas div.info-text p.negrita{
    font-size: 15px;
    font-weight: bolder;
}

div.info-producto div.compra-container{
    display: flex;
    justify-content: center;
    align-items: center;
}
div.info-producto div.compra-container button{
min-width: 130px;
}
/* relacionados*/
section.relacionados{
    display: flex;
    margin-top: 10px;
    float: inline-start;
    position: relative;
    justify-content: center;
    flex-direction: row;
    background-color:whitesmoke;
}
h4#relacionados{
    text-align: center;
    color:#59359c;
}
section.relacionados div.productos-relacionados img{
    height: 100px;
    width: 100px;
    margin: 5px;
}
section.relacionados article.item_relacionado { 
background-color: rgb(255, 255, 255);
width:250px;
min-width: 250px ;
display: inline-flex;
flex-direction: row;
border: 8px rgb(5, 5, 5) ;        
border-radius: 10px;
margin: 2px;
}