*{
    box-sizing: border-box;
    margin: 0%;
    padding: 0%;
}
body{
    align-items: center;
    font-family:  'Prompt', sans-serif;
    background-color: whitesmoke;
    padding: 0;
    margin: 0;
   
    
}

h3{
    font-size: 24px;
}

h4{
    font-size: 20px;
}

p{
    font-size: 12px;
}

hr.dot {
    border: 2px dotted #9839b5;
    width: 80%;
  }
/*inicio header*/

header{
    background-color: #ffffff;
    width: 100%;
  
}

/* Inicio barra top*/
.top-bar{
    background-color: #59359c;
    max-height: 50px;
    width: 100%;
    border-bottom: 3px solid #9e1fac;
    display: flex;
    min-width: 500px;
}

.top-bar .nav-menu{
    height: 60px;
    float: right;
}
.top-bar .nav-menu ul{
     justify-content: space-around;
     list-style-type: none;
  }

.top-bar .nav-menu ul li{
    color: white;
    font-weight: bold;
    display: inline-block;
  }

.top-bar .nav-menu ul li a {
      color: white;
      font-weight: bold;
      text-decoration: none;
      font-size: 14px;
      padding: 18px;
      transition: 450ms;
  }

.top-bar .nav-menu ul li a:hover{
    color: white;
    background-color: #9e1fac;
  }

/*fin barra top*/

/* Top header */

.top-header{
    background-color: rgb(255, 255, 255);
    color: white;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 0 auto;
    min-width: 500px;
}

.top-header .logo img{
    width: 150px;
    padding: 10px;
    object-position: right;
}

.top-header .nav-section{
    height: 100%;
    display: flex;
    align-items: center;
}

.top-header .nav-section ul{
     list-style: none;
     display: block;
  }

.top-header .nav-section ul li{
      float: left;
  }

.top-header .nav-section ul li a {
      color: #59359c;
      font-weight: bold;
      text-decoration: none;
      font-size: 16px;
      padding: 18px;
  }

.top-header .nav-section ul li a:hover{
    color: white;
    background-color: #9e1fac;
  }

.burger-menu{
    text-align: center;
}

.burger-menu i{
    background-color: #59359c;
    border-radius: 5px;
    color: #FFF;
    font-size: 20px;
    height: 20px;
    margin: 10px 0px 10px 0px;
    padding: 15px 10px;
    width: 40px;
}



/*UI*/

.button{
    background-color: white; 
    border-radius: 10px;
    border: 2px solid #9839b5;
    color: black; 
    display: inline-block;
    font-size: 16px;
    padding: 5px 5px;
    text-align: center;
    text-decoration: none;
    transition-duration: 0.4s;
    width: 100px;
    cursor: pointer;
    margin:2px
}
  
.button:hover {
background-color: #9839b5;
color: white;
}

/* hero */

.hero{
   border-top:3px solid #9839b5;
   padding:0px;
   min-width: 460px;
   width: 100%;
}

.hero-banner{
    width: 100%;
    height: 20vw;
    object-fit: cover;
    object-position: right;
    background-position: right;
}


/*inicio main*/

.main-section{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-self: center;
}

.main-catg_container{
    width: 100%;
    text-align: center;
    color: rgb(51, 51, 51);
    font-size: 28px;
}

.catg_container-products{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: fit-content;
    gap: 1rem;
    margin: 0 auto;
}

article.product_item{
    background-color: rgb(255, 255, 255);
    width:40%;
    display: flex;
    flex-direction: row;
    border: solid #59359c 0.5px;
    border-radius: 10px;
    position: relative;
}

.product_item-img{
    width: 50%;
    padding-left: 10px;
    
}

.product_item-main_article i{
    border-radius: 10px;
    padding: 5px;
}



.catg_container-title{
    margin: 30px 0 30px 0;
    width: 100%;
    display:block;
 
}

.product_item-main_article{
    width: 100%;
    padding: 25px 15px 15px 15px;
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
    position: relative;

}

.fa.fa-heart{
    position: absolute;
    right: 10px;
    top: 10px;
    font-size: 25px;
    color: #c1bbc144;
    display: none;
}
.product_item:hover .fa.fa-heart{
   display: block;
   cursor: pointer;  
}

.product_item .fa.fa-heart:active{
    color: #ab39b5;
 }

 #favourites{
     display: in;
     flex-wrap: wrap;
     font-size: 15px;
     width: 130px;
 }

.product_item-main_article-name{
    font-size: 22px;
    font-weight:bolder;
    flex:50%;
    margin-top: 12px;
}

/*Slider best sellers*/

.section-slider{
    width: 100%;
    margin-top: 40px;
    border-radius: 10px;

    
}
.slider-section_container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
    padding: 1em;
}

.section_container-title{
    width: 100%;
    text-align: center;
    color: #FFF;
    font-size: 28px;
}

/* Information Section*/

.information{
    width: 100%;
    border-radius: 10px;
    border: 2px rgb(49, 48, 48);
}
.information-section_container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
    padding: 28px;
}

.information-section_container_title{
    width: 100%;
    text-align: center;
    color: rgb(49, 32, 32);
    font-size: 28px;
} 

.box-container_item{
    background-color: #59359c;
    width:350px;
    height:300px;
    border: 8px #9839b5;        
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}


.box-title{
   
    text-align: center;
    color: rgb(255, 9, 194);
    font-size: 28px; 
}


/* Footer Section*/

.foot{
    background-color: #9839b5;
    width: 100%;
    border: 2px rgb(49, 48, 48);
    margin-top: 30px;
}
.foot-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
    padding: 20px;

}

.foot-container_item{
    background-color: rgba(240, 248, 255, 0.13);
    width:250px;
    height:150px;     
    border-radius: 10px;
    display: flex;
    justify-content: center;
    margin: 0 50px 0 50px ;
    padding-top: 25px;
}

.foot-container_item-nobk{
    width:250px;
    height:150px;     
    border-radius: 10px;
    display: flex;
    justify-content: left;
    margin: 0 30px 0 100px ;
    padding-top: 25px;
}

.foot-nav_section{
  font-size: 14px;
  color: #c1c1c4;
}

.foot-nav_section a{
    color: #c1c1c4;
    text-decoration: none;
  } 

.logo-foot img{
    max-width: 150px;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Footer Section hola */

.socket{
    background-color: #2a282f;
    width: 100%;
    overflow: hidden;
}

.socket-container{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 20px;
    align-items: center;
}

.socket-container-text{
    font-size: 12px;
    color: #c1c1c4;
    display: inline-block;
    width: 50%;
    object-position: left;

  }
  .socket-container-social{
    font-size: 12px;
    color: #c1c1c4;
    object-position: right;

  }

.socket-container-social ul{
     justify-content: space-around;
     list-style-type: none;
  }

.socket-container-social ul li{
    color: white;
    font-weight: bold;
    display: inline-block;
    
  }

.socket-container-social ul li a {
      color: white;
      font-weight: bold;
      text-decoration: none;
      font-size: 14px;
      padding: 18px;
  }

.socket-container-social ul li a:hover{
    background-color: #9e1fac;
  }



  /*Store Section*/

  
  /*Main Section Store*/

.main-section-store{
    width: 100%;
    margin: 0 auto;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    margin-top: 30px;

}


.main-store-catg_container{
    width: 100%;
    text-align: center;
    color: rgb(51, 51, 51);
    font-size: 28px;
    display: flex;
    flex-wrap: wrap;
}   

.catg_container-title{
    margin: 0;
    width: 100%;
}

.catg_container-products_container{
    display: flex;
    width: 100%;
}


.catg-store_container-products{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    margin: 0px;  
}

.product_item{
    background-color: rgb(255, 255, 255);
    width:100%;
    min-width: 370px ;
    display: flex;
    flex-direction: row;
    border-radius: 10px;
}

.product_item:hover{
    border: solid #59359c 2px;
    box-shadow: 4px 7px 18px #171313;  

}


.product_item-img{
    width: 50%;
    padding-left: 10px;
}

.product_item-main_article i{
    border-radius: 10px;
    padding: 5px;
}

.product_item-main_article{
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;      
}


.product_item-main_article{
    width: 100%;
    padding: 15px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: baseline;
    position: relative;

}

.button-button{
    margin: 0;
}

.product_item i{
    color: #ab39b5;
}

.product_item-main_article-name{
    font-size: 22px;
    font-weight:bolder;
    flex:50%;
}



  /* Sidebar Section*/

/* The side navigation menu */
.sidebar {
    margin: 53px 30px 0 30px;
    min-width: 200px;
    width: 15%;
    min-height: 700px;
    max-height: 100vh;
    background-color: #f1f1f1;
    position: realive;
    border-radius: 10px;
    font-size: 14px;
    text-align: left;
    border: solid 1px rgb(146, 145, 145);

}
.sidebar-title{
    width: 100%;
    text-align: left;
    color:#313131 ;
    margin: 10px 0 5px 10px ;
}   

.sidebar ul {
    margin: 5px;
    padding: 2px 0 2px 0;
    list-style:none;   
  }

  
  /* Sidebar links */
.sidebar a {
    margin: 0 auto ;
    color: #59359c;
    padding: 0 0 0 30px;
    text-decoration: none;

}

.sidebar a:hover{
    color: #9e1fac;
    font-weight: bolder;
}

/* display components on mobile */




/*tablet*/

@media ( min-width: 375px ) and ( max-width: 768px ) {

    article.product_item { 
       width:35%;
    }   
    
    .nav-section{
       display: none;
    }

    .main-section-store .sidebar {
        display: none;
    }  
 
    section.relacionados div.productos-relacionados{
        text-align: center;
    }
    section.top-main div.info-producto h4{
        margin: 11px;
    display: flex;
    flex-direction: column;
    }

section.checkout div.bill-container{
    flex-direction: column;
    align-items: center;
}
}

/*desktop*/

@media screen and (min-width:769px) {
    article.product_item{ 
       width:32%;
    }

    .top-header .nav-section{
        display: block;
    }

    .top-bar{
        display: inline-block;
    }

   
    .burger-menu{
        display:none
    }

    .main-section .sidebar{
        display:block;
        width: 15%;

    }

    .catg-store_container-products{
        width: 100%;
    }

    .main-store-catg_container .sidebar {
        display: flex;
        flex-wrap: wrap;
    }
    
    section.relacionados div.productos-relacionados{
        display: flex;
        flex-wrap: wrap;
        text-align: center;
    }
    table.checkout{
        min-width: 700px;
        min-height: 300px;
    }
}


/*css rodrigo-----------------------------------------------------------------------------------------------------------------*/

/*formularios --------------------------------------------------------------------------------------------------------------------------*/


.formulario{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 90%;
    background-color: rgba(248, 246, 246, 0.2);
    padding: 40px 20px 40px 20px;
    margin: auto;
    margin-top: 20px;
    margin-bottom:20px;
    border-radius: 10px;
    color: #faf9f9; 
    border: solid #59359c 2px;
    box-shadow: 7px 13px 37px #313131;  
}

.formulario img.logo{
    background-color:rgba(152, 57, 181, 0.2);
    width: 95px;
    padding: 8px;
    position: relative;
    border-radius: 15%;
    border: solid #59359c 2px;
    top: -10px;
   

}

.formulario h4{
    width: 70%;
    text-align: center;
    color:#313131;
    font-size: 24px;
    margin: 0 0 20px 0;
    }

.formulario h4 b{
    font-weight:bolder;
}

    
.controlador{
    width: 85%;
    padding: 12px;
    border-radius: 8px;
    margin-bottom: 8px;
    margin-top: 8px;
    border : 1px solid #adabb0;
    font-size: 12px;
}

.controlador:focus-visible{
    outline: none;
    border : 3px solid #59359c;
}


.formulario p{
    width: 100%;
    height : 20px;
    padding: 10px 0 30px 0;
    margin: auto;
    color: #000000;
    text-align: center;
    text-decoration: none;
    font-size: 14px;
}

.formulario a{
    width: 100%;
    text-align: center;
    text-decoration: none;
    color:#000000;
   }

.formulario a:hover{
    text-decoration: none;
    color:#9e1fac;
    font-weight: bold;
}


.formulario .button{
    color: #59359c;
    display: inline-block;
    text-align: center;
    width : 30%;
    background : white;
    border: 2px solid #59359c;
    border-radius: 10px;
    padding: 5px;
    font-size: 16px;
    margin-bottom: 5px;
    margin-top: 10px;
    cursor:pointer;
    }
.formulario .button:hover {
        background-color: #9839b5;
        color: white;
        }
#rememberAccount:checked{
    color: #9839b5;
}
#acceptTerms:checked{
    color: #9839b5;
}





.formulario textarea#comentario{
    width: 85%;
    min-height: 100px;
    max-height: 250px;
    
}
/* fin formularios -----------------------------------------------------------------------------------------------------------------------/
/* display components on mobile */
@media (min-width: 360px){

    .top-bar{
       display: none;
    }
    
    .top-header .nav-section{
        display: none;
    }
    
    .sidebar {
        display: none;    
    }

  
    .formulario textarea#comentario{
        max-width: 100%;
        min-height: 100px;
        max-height: 250px;
    }
    div.description-container .imagen-principal img{
        min-width:350px;
        min-height: 350px;
    }
    div.description-container div.description-img,div.info-producto{
        min-width: 350px;    
    }
    }
    
    /*tablet*/
    
    @media ( min-width: 375px ) and ( max-width: 768px ) {
    
        .product_item { 
           width:40%;
        }   
        
        .nav-section{
           display: none;
        }
    
        .sidebar {
            display: none;
        }  
     
        section.relacionados div.productos-relacionados{
            text-align: center;
            justify-content: center;
        }
        section.top-main div.info-producto h4{
            margin: 11px;
        display: flex;
        flex-direction: column;
        }
        section.top-main div.info-producto div.botones{
        display: block;
        min-height: 100px;
    }
        section.checkout div.bill-container{
        flex-direction: column;
        align-items: center;
    }
    section.top-main div.info-producto .botones #añadir{
        position: initial;
    }
    div.description-container div.description-img,div.info-producto{
    max-width: 450px;
    min-width: 370px;
    }
    div.description-container .imagen-principal img{
        min-width:370px;
        min-height: 370px;
    }
    
    }
    
    /*desktop*/
    
    @media (min-width:769px){
        .product_item{ 
           width:22%;
        }
    
        .top-header .nav-section{
            display: block;
        }
    
        .top-bar{
            display: inline-block;
        }
    
       
        .burger-menu{
            display:none
        }
    
        .sidebar{
            display: flex
        }
    
        .catg-store_container-products{
            width: 80%;
        }
    
        .main-store-catg_container .sidebar {
            display: flex;
            flex-wrap: wrap;
        }
        section.top-main div.miniaturas{
            position: relative;
            left: 110px;
        }
    
        section.top-main div.info-producto .botones #añadir{
            position: initial;
            top: 82px;
            right: 240px;
            max-height: 35px;
        }
        section.relacionados div.productos-relacionados{
            display: flex;
            flex-wrap: wrap;
            text-align: center;
            justify-content: center;
        }
        table.checkout{
            min-width: 700px;
            min-height: 300px;
        }
        .formulario{
            display:flex;
            flex-wrap: wrap;
            justify-content: space-around;
            max-width: 800px;
        }
    
        .controlador{
            height: 30px;
            width: 48%;
            padding: 18px ;
        }
    
        .formulario textarea#comentario{
            width: 98%;
            max-width: 100%;
            min-height: 100px;
            max-height: 250px;
        }
        div.description-container div.description-img,div.info-producto{
            min-width: 415px;
        }
    }
    