<footer>

    <section class="foot">

        <div class="foot-container">

            <div class="foot-container_item-nobk">
                <div class="logo-foot">
                    <img src="images/codigo-gamer-logo-blanco.png">
                </div>
            </div>

            <div class="foot-container_item">
                <div class="foot-nav_section">
                    <div>
                        <ul>
                            <li><a href="#"> HOME </a></li>
                            <li><a href="#"> TIENDA </a></li>
                            <li><a href="#"> OFERTAS </a></li>
                            <li><a href="#"> CONTACTO </a></li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="foot-container_item">
                <div class="foot-nav_section">
                    <div>
                        <ul>
                            <li><a href="#"> HOME </a></li>
                            <li><a href="#"> TIENDA </a></li>
                            <li><a href="#"> OFERTAS </a></li>
                            <li><a href="#"> CONTACTO </a></li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="foot-container_item">
                <div class="foot-nav_section">
                    <div>
                        <ul>
                            <li><a href="#"> HOME </a></li>
                            <li><a href="#"> TIENDA </a></li>
                            <li><a href="#"> OFERTAS </a></li>
                            <li><a href="#"> CONTACTO </a></li>
                        </ul>
                    </div>
                </div>
            </div>

        </div>

    </section>

</footer>



<section class="socket">

    <div class="socket-container">
        <div class="socket-container-text">
            © Código Gamer 2022 | todos los derechos reservados.
        </div>

        <div class="socket-container-social">
            <ul>
                <li><a href="#"><i class="fab fa-facebook"></i></a></li>
                <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                <li><a href="#"><i class="fab fa-instagram"></i></a></li>
            </ul>
        </div>
    </div>

</section>