<footer>

    <section class="foot">

        <div class="foot-container">

            <div class="foot-container_item-nobk">
                <div class="logo-foot">
                    <img src="/images/codigo-gamer-logo-blanco.png">
                </div>
            </div>

            <div class="foot-container_item">
                <div class="foot-nav_section">
                    <div>
                        <span>Categorías</span>
                        <ul>
                            <li><a href="store"> Hardware </a></li>
                            <li><a href="store"> Consolas </a></li>
                            <li><a href="store"> Accesorios </a></li>
                            <li><a href="store"> Ofertas </a></li>
                    </div>
                </div>
            </div>

            <div class="foot-container_item">
                <div class="foot-nav_section">
                    <div>
                        <span>Atención al Cliente</span>
                        <ul>
                            <li><a href="#"> Sobre Nosotros </a></li>
                            <li><a href="contact"> Contacto </a></li>
                            <li><a href="#"> Politicas de Envío </a></li>
                            <li><a href="#"> Políticas de Devolución </a></li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="foot-container_item">
                <div class="foot-nav_section">
                    <div>
                        <span class="footer-info"><i class="far fa-envelope"></i> info@codigogamer.com.ar</span>
                        <span class="footer-info"><i class="far fa-envelope"></i> ventas@codigogamer.com.ar </span>
                        <span class="footer-info"><i class="fas fa-phone"></i> (54 11) 4775-8278</span>
                        <span class="footer-info"><i class="fab fa-whatsapp" id="whatsapp"></i> (54 11) 3934-1616</span>
                        <span class="footer-info"><i class="fas fa-map-marker-alt"></i> Florida 991 Local 15 (CABA)</span>
                    </div>
                </div>
            </div>

        </div>

    </section>

    </footer>



    <section class="socket">

        <div class="socket-container">
            <div class="socket-container-text">
                © Código Gamer 2022 | todos los derechos reservados.
            </div>

            <div class="socket-container-social">
                <ul>
                    <li><a href="#"><i class="fab fa-facebook"></i></a></li>
                    <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                    <li><a href="#"><i class="fab fa-instagram"></i></a></li>
                </ul>
            </div>
        </div>

    </section>
