<header>


  <div class="top-bar">
    <div class="nav-menu">
      <ul>
          <div class="top-bar_list" id="social-media">
        <li>
          <a href="#">
            <i class="fab fa-facebook"> </i>
          </a>
        </li>
        <li>
          <a href="#">
            <i class="fab fa-twitter"> </i>
          </a>
        </li>
        <li>
          <a href="#">
            <i class="fab fa-instagram"> </i>
          </a>
        </li>
      </div>  
        <div class="top-bar_list">
        <li>
          <a href="../user-login">
            <i class="fas fa-user"> </i>
            Login/Register
          </a>
        </li>
        <li>
          <a href="../users">
            <i class="fas fa-user"> </i>
            Ver Usuarios
          </a>
        </li>
        <li>
          <a href="#">
            <i class="fas fa-bell"> </i>
          </a>
        </li>
        </div>
      </ul>
       <div class="topbar-user_main-container">
          <div class="top-bar_user-profile_avatar-container">
            <a href="#">
            <img class="top-bar_user-profile_avatar" src="/images/star-wars-art-awakens-exhibition-yoda-by1-300x236.jpg">
            </a>
          </div>
          <div class="top-bar_user-profile_data-container">
            <p class="top-bar_user-profile-info">Usuario</p>
          </div>
       </div>
    </div>
  </div>


  <div class="top-header">
    <div class="logo">
      <a href="/">
        <img src="/images/codigo-gamer-logo.jpeg.png" />
      </a>
    </div>

    <div class="nav-section">
      <div class="nav-section-list">
        <div class="nav-section-list-links">
          <div class="nav-section_item">
            <a href="/"> HOME </a>
          </div>
          <div class="nav-section_item">
            <a href="../store"> TIENDA </a>
          </div>
          <div class="nav-section_item">
            <a href="#"> OFERTAS </a>
          </div>
          <div class="nav-section_item">
            <a href="contact"> CONTACTO </a>
          </div>
        </div>
        <div class="nav-section-list-icons">
          <div class="nav-section_item">
            <a href="#">
              <i class="fas fa-heart"> </i>
            </a>
          </div>
          <div class="nav-section_item-search" id="search-bar">
            <input
              type="text"
              class="serch-input"
              placeholder="Buscar aquí..."
              required
            />
            <div class="search-btn"><i class="fas fa-search icon"></i></div>
          </div>
          <div class="nav-section_item">
            <a href="#">
              <i class="fas fa-shopping-cart"> </i>
            </a>
          </div>
        </div>
        <div class="burger-menu">
          <i class="fa fa-bars burger"> </i>
        </div>
      </div>
    </div>
  </div>
</header>
